@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Montserrat&display=swap');

$font-header: 'Montserrat', sans-serif;
$font-content: 'Baloo Da 2', sans-serif;
$button-color: rgb(61, 185, 223);
$font-color: rgb(58, 58, 58);
$app-background: linear-gradient(45deg, rgb(207, 44, 193), rgb(69, 94, 204));